/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  height: 100vh;
  padding: 30px;
}
.fruits-container-card {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: black;
  font-weight: 600;
  text-align: center;
}
.fruits-container {
  display: flex;
  justify-content: space-around;
}
.fruit-container {
  display: flex;
  flex-direction: column;
}
.image {
  width: 400px;
}
.button {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 0px solid;
  align-self: center;
}